* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* header startet */
.logo img {
  width: 234px;
  height: 49px;
}

.logo img {
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav img {
  width: 47px;
  height: 47px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}

.nav {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav a {
  font-size: 14px;
  font-weight: bold;
  color: #262626;
}

.nav a {
  color: #262626;
  text-decoration: none;
  padding: 8px 16px;
  transition: 0.3s ease, color 0.3s ease;
  border-radius: 40px;
  background-color: transparent;
}

.nav a:hover {
  background-color: #4ce0d7;
  color: #262626;
}

.searh-icon {
  width: 47px;
  height: 47px;
}

.background-section {
  background-image: url(./assets/Bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 73px;
  height: 560px;
  border-radius: 20px;
  background-color: #8ba9f4;
  padding-top: 218px;
  padding-left: 57px;
  padding-bottom: 241px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.background-section h3 {
  font-size: 12px;
  font-weight: 700;
  color: white;
  letter-spacing: 4px;
}

.background-section p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  max-width: 460px;
  margin-bottom: 73px;
}

.background-section h1 {
  font-size: 46px;
  font-weight: lighter;
  color: white;
}

.background-section span {
  background: linear-gradient(90deg, #4ce0d7 43.06%, #8ba9f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* Header */

/* Topics section */
.topics {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 87px;
  margin: 0 auto;
}

.topics-h1 {
  font-weight: 700;
  font-size: 32px;
  color: #262626;
}

.topics-h2 {
  margin-top: 20px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 20px;
  color: #262626;
}

.topics-cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.topic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  width: max-content;
  padding: 51px 30px 30px 30px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.topic-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.topics a {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 40px;
  color: #262626;
  background-color: #4ce0d7;
  border-radius: 40px;
}

.topics-cards a:hover {
  color: white;
}

hr {
  margin: 0 auto;
  margin-top: 87px;
  margin-bottom: 52px;
  width: 1267px;
  width: 100%;
}

.topics-img {
  width: 103px;
  height: 103px;
}

/* Middle Section */

.fashion-section {
  /* padding: 0 118px; */
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 97px;
}

.fashion-background a {
  padding: 10px 81px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  background-color: #262626;
}

.fashion-background a:hover {
  transform: scale(1.2);
  background-color: white;
  color: #262626;
}

.fashion-background {
  padding: 23px 923px 299px 47px;
  background: url(assets/fashion-BGK2.jpg);
  margin-bottom: 23px;
  border-radius: 16px;
  overflow: hidden;
}

.fashion-1 {
  display: flex;
  align-items: center;
  gap: 21px;
  position: relative;
  margin-bottom: 29px;
}

.mallory {
  display: flex;
  align-items: center;
  gap: 133px;
}

.coming-in-hot {
  position: absolute;
  right: 90px;
}

.coming-in-hot h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3.36px;
  color: #f25e5e;
}

.mallory p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
  color: #bcbcbc;
}

.fashion-2 {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.fashion-2 h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #262626;
}

.fashion-2 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
  max-width: 790px;
}

.fashion-read-more {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: 64px;
  margin-top: 30px;
}

.fashion-read-more img {
  margin-bottom: 38px;
}

.fashion-read-more p {
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2.88px;
  color: #4ce0d7;
  margin-bottom: 38px;
}

.fashion-read-more p:hover {
  transform: scale(1.2);
  color: #f9f9f9;
  background-color: #4ce0d7;
}

/*Trending section */
.Trending-section {
  margin-bottom: 88px;
}
/*Trending section h1*/
.Trending-section h1 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 55px;
}
/*trending-cards*/
.Trending-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  /* flex-wrap: nowrap; */
}
.Trending-card {
  width: max-content;
  box-shadow: 0px 6px 6px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 579px;
  width: 100%;
}

/*Trending-backgound*/
.Trending-background {
  background-image: url(assets/nato1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 20px 369px 219px 34px;
  position: relative;
  margin-bottom: 23px;
}

.Trending-background2 {
  background-image: url(assets/nato2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 20px 369px 219px 34px;
  position: relative;
  margin-bottom: 23px;
}

.Trending-background h2 {
  padding: 9px 50px;
  background-color: #262626;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 40px;
  display: inline-block;
}

.Trending-background2 h2 {
  padding: 9px 52px;
  background-color: #262626;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 40px;
  display: inline-block;
}

/*background hover*/
.Trending-background h2:hover {
  background-color: #262626;
  color: #ffffff;
  background-color: #4ce0d7;
  cursor: pointer;
  transition: 0.3s ease;
}
/*Trending profile*/
.Trending-profile {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  margin-left: 26px;
}
.Trending-profile img {
  width: 65px;
  height: 51px;
  border-radius: 50%;
  object-fit: cover;
}
.Trending-profile div {
  display: flex;
  flex-direction: row;
  gap: 83px;
}
.Trending-profile p {
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
}
.malorie {
  width: 169px;
}
.Trending-text {
  max-width: 464px;
  margin-left: 34px;
}
.Trending-text h2 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 25px;
  width: 350px;
}
.Trending-text p {
  font-size: 16px;
  font-weight: 400;
  width: 360px;
}
/*read more*/
.Trending-readmore {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  margin-left: 22px;
  margin-bottom: 42px;
}
.Trending-readmore p {
  color: #4ce0d7;
  font-size: 12px;
  font-weight: 700;
}
.Trending-readmore:hover p {
  color: #4ce0d7;
  transition: 0.3s ease;
}
.Trending-readmore:hover img {
  transform: translateX(4px);
  transition: 0.3s ease;
  cursor: pointer;
}

/*margin*/
.Trending-card {
  margin-bottom: 88px;
}
