/* <!-- Defoult --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* <!-- Container-> */
.container {
  max-width: 1440px;
  padding: 47px 84px;
  margin: 0 auto;
}
/* <!-- body-> */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* <!-- .logo img-> */
.logo img{
  width: 234px;
  height: 49px;
}

/* <!-- .logo img transition-> */
.logo img {
  transition: transform 0.3s ease;
}

/* <!-- .logo img hover-> */
.logo img:hover {
  transform: scale(1.1); 
}

/* <!-- .nav img -> */
.nav img{
  width: 47px;
  height: 47px;
}

/* <!-- .header-> */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}

/* <!-- .nav-> */
.nav{
  display: flex;
  gap: 35px;
  align-items: center;
}

/* <!-- .nav a-> */
.nav a{
  font-size: 14px;
  font-weight: bold;
  color: #262626;
}

/* <!-- .nav a-> */
 .nav a {
  color: #262626; 
  text-decoration: none;
  padding: 8px 16px;
  transition: 0.3s ease, color 0.3s ease;
  border-radius: 40px;
  background-color: transparent;
}

/* <!-- .nav a-> */
.nav a:hover {
  background-color: #4CE0D7; 
  color: #262626;
}

/* <!-- .nav a hover-> */
.searh-icon {
  width: 47px;
  height: 47px;  
}

/* <!-- .searh-icon-> */
.main{
  display: flex;
  flex-direction: column;
  padding-top: 218px;
  padding-bottom: 141px;
  padding-left: 57px;
  gap: 22px;
}

/* <!-- .background-section -> */
.background-section {
  background-image:url(./assets/Bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
  border-radius: 20px;
}

/* <!-- background-section h3-> */
.background-section{
  background-color: #8BA9F4;
  padding-top: 218px;
  padding-left: 57px;
  padding-bottom: 241px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* <!-- background-section h3-> */
.background-section h3{
  font-size: 12px;
  font-weight: 700px;
  color:white;
  letter-spacing: 4px;
}

/* <!-- .background-section p-> */
.background-section p{
  font-size: 20px;
  font-weight: 400px;
  color:white;
  max-width: 460px;
  margin-bottom: 73px;
}

/* <!-- .background-section h1-> */
.background-section h1{
  font-size: 46px;
  font-weight: lighter;
  color:white;
}

/* <!-- .background-section span-> */
.background-section span{
  background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
  font-weight: 700;
}
