* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 47px 84px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}
